* {
    text-decoration: none;
}

nav ul,
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: goldenrod;
    background-color: #004aad;
}

nav li,
footer li {
    display: inline;
    margin-right: 10px;
    width: 280px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#top {
    scroll-margin-top: 100px;
}

a {
    color: goldenrod;
}

a:hover {
    background-color: white;
}

a:visited {
    color: goldenrod;
}

body {
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
}